<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015169899009-eo6t62e9k4p4h2shc8qt37suana1bt43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015169899009-eo6t62e9k4p4h2shc8qt37suana1bt43</string>
	<key>API_KEY</key>
	<string>AIzaSyBPwTTYb3WWgU4t1zZJG03tkI0fjwLNInQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1015169899009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingHomestayAirbnb</string>
	<key>PROJECT_ID</key>
	<string>vacationrentals-96220</string>
	<key>STORAGE_BUCKET</key>
	<string>vacationrentals-96220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015169899009:ios:8946b8ea57f0e5f1ec7e00</string>
</dict>
</plist>